@model Web_Forums.Models.Zone

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ZoneTopic" class="control-label">Zone Topic</label>
                <input asp-for="ZoneTopic" class="form-control" />
                <span asp-validation-for="ZoneTopic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZoneDiscussion" class="control-label">Zone Discussion</label>
                <input asp-for="ZoneDiscussion" class="form-control" />
                <span asp-validation-for="ZoneDiscussion" class="text-danger"></span>
            </div>
            <div class="hidden">
                <label asp-for="Author" class="control-label"></label>
                <input asp-for="Author" class="form-control" value="@User.Identity?.Name" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
